
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
/phpunit.xml.dist
###< symfony/phpunit-bridge ###

###> symfony/asset-mapper ###
/public/assets/
/assets/vendor/
###< symfony/asset-mapper ###
/.env.dev
/.env.test
/.idea/.gitignore
/.idea/vcs.xml
/.idea/GamingEssentialsBack.iml
/.idea/modules.xml
/.idea/php.xml
/.idea/dataSources.xml
/.idea/phpunit.xml
/.idea/commandlinetools/schemas/frameworkDescriptionVersion1.1.4.xsd
/.idea/commandlinetools/Symfony_23_1_25__22_21.xml
